.Shop-header img {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 0 16px;
  box-sizing: border-box;
  display: block;
}

.shop-btn {
  padding: 10px;
}

.shop-btn a {
  color: #888790;
  text-decoration: none;
  display: flex;
  align-items: center;
}
