.Header {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.Header div {
  display: flex;
}

.header-logo a {
  text-decoration: none;
  color: inherit;
}

.Header .header-logo {
  width: 100%;
  font-size: 35px;
  font-weight: 900;
}
