/* .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

.header h1 {
  font-size: 30px;
  font-weight: 900;
  margin: 0;
}

.header > button {
  border: none;
  background-color: #3e45ec;
  color: #ffffff;
  border-radius: 20px;
  padding: 7px 15px;
  font-weight: 600;
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 10px 15px;
  gap: 10px;
  margin-bottom: 20px;
}

.search-box input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
}

.search-icon {
  font-size: 18px;
  color: #444;
}

.filter {
  cursor: pointer;
  border: none;
  padding: 3px 3px;
} */
.Header {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.Header div {
  display: flex;
}

.header-logo a {
  text-decoration: none;
  color: inherit;
}

.Header .header-logo {
  width: 100%;
  font-size: 35px;
  font-weight: 900;
}
