* {
  margin: 0;
  box-sizing: border-box;
}

.Shop-card-item {
  display: flex;
  background-color: #fafafb;
  border-radius: 16px;
  gap: 15px;
  width: 100%;
  padding: 10px;
  align-items: center;
}

.shop-item-img {
  width: 70px;
  height: 70px;
}

.shop-card-texts {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-name {
  color: #14151a;
  font-size: 14px;
  font-weight: 500;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}
