.search-box {
  position: relative;

  border: none;
  padding: 0;
  background-color: transparent;
}

.search-box input {
  padding: 15px 40px;
  border: 1px solid #dddcdf;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: white;
  outline: none;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 18px;

  pointer-events: none;
}

.shop-input-wrapper .search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
}
